@using newsapp.Models
@model Article

<div class="ui special cards">
    <div class="card">
        <div class="blurring dimmable small image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <h3 class="ui green header">
                            @Model.Header
                        </h3>
                        <div class="ui green small button">
                            @Html.ActionLink("Take me there...", "Read", "Articles", new { id=Model.Id }, null)
                        </div>
                        @Html.ActionLink(Model.Journalist.FirstName+ " " + Model.Journalist.LastName, "Read", "Authors", new { fullname = Model.Journalist.FirstName + Model.Journalist.LastName }, null)
                    </div>
                </div>
            </div>
            <img src="@Model.Image">
        </div>
        <div class="extra content">
            <div class="meta">
                <span class="date">
                    <i class="circular calendar icon"></i>
                    @Model.PostedOn.ToShortDateString()
                </span>
            </div>
        </div>
    </div>
</div>